@charset "UTF-8";
/*!
 * Marp / Marpit Codefest theme.
 *
 * @theme codefest
 * @auto-scaling true
 * @author Smirnov Viacheslav
 */

 @import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
 @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/github.min.css");
 
 
 #p > svg.bespoke-marp-slide.bespoke-marp-active > foreignObject > section > div > figure {
    font-family: 'Roboto';
}

body {
    font-family: Roboto;
  }

 section {
    background-color: white;
    font-family: 'Roboto';
    padding: 0;
 }

 section h1 a, section h2 a {
    color: white;
 }

section.lead1, 
section.lead2, 
section.lead5, 
section.lead6, 
section.lead9, 
section.lead10, 
section.lead11, 
section.lead12, 
section.lead13, 
section.lead17, 
section.lead18 
{
    padding: 0;
    background-position: 95% 10%, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, cover;
    background-origin: padding-box, border-box;
    color: white;
}



section h1,
section.lead1 h1,
section.lead2 h1,
section.lead5 h1,
section.lead6 h1,
section.lead9 h1,
section.lead10 h1,
section.lead11 h1,
section.lead12 h1,
section.lead13 h1,
section.lead17 h1,
section.lead18 h1
{
    letter-spacing: 1.1px;
    font-size: 36pt;
    position: absolute;
    width: calc(555px - 54px);
    height: calc(190px - 10px);
    background: #002882;
    color: #fff;
    margin: 0;
    z-index: 3;
    padding: 0;
    padding-left: 54px;
    padding-top: 10px;
    top: 228px;
}


section h1:after,
section.lead1 h1:after,
section.lead2 h1:after,
section.lead5 h1:after,
section.lead6 h1:after,
section.lead9 h1:after,
section.lead10 h1:after,
section.lead11 h1:after,
section.lead12 h1:after,
section.lead13 h1:after,
section.lead17 h1:after,
section.lead18 h1:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(555px - 4px);
    border-top: 190px solid #002882;
    border-right: 69px solid transparent;    
    border-left: 2px solid #002882;
}



section h1:before,
section.lead1 h1:before,
section.lead2 h1:before,
section.lead5 h1:before,
section.lead6 h1:before,
section.lead9 h1:before,
section.lead10 h1:before,
section.lead11 h1:before,
section.lead12 h1:before,
section.lead13 h1:before,
section.lead17 h1:before,
section.lead18 h1:before
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(555px + 32px);
    width: 6px;
    height: 190px;
    transform: skew(-20deg);
    background: #00AAFF;
    overflow: hidden;
    z-index: -1;
}

section h2,
section.lead1 h2, 
section.lead2 h2, 
section.lead5 h2, 
section.lead6 h2, 
section.lead9 h2, 
section.lead10 h2, 
section.lead11 h2, 
section.lead12 h2, 
section.lead13 h2, 
section.lead17 h2, 
section.lead18 h2 
{
    font-size: 26pt;
    position: absolute;
    width: calc(555px - 24px - 54px);
    height: 65px;
    background: #00AAFF;
    color: white;
    z-index: 3;
    padding: 0;
    margin: 0;
    padding-left: 54px;
    top: 427px;
}

section h2:after,
section.lead1 h2:after, 
section.lead2 h2:after, 
section.lead5 h2:after, 
section.lead6 h2:after, 
section.lead9 h2:after, 
section.lead10 h2:after, 
section.lead11 h2:after, 
section.lead12 h2:after, 
section.lead13 h2:after, 
section.lead17 h2:after, 
section.lead18 h2:after 
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(555px - 24px - 4px);
    border-top: 65px solid #00AAFF;
    border-right: 23px solid transparent;
    border-left: 2px solid #00AAFF;
}

section h2:before,
section.lead1 h2:before, 
section.lead2 h2:before, 
section.lead5 h2:before, 
section.lead6 h2:before, 
section.lead9 h2:before, 
section.lead10 h2:before, 
section.lead11 h2:before, 
section.lead12 h2:before, 
section.lead13 h2:before, 
section.lead17 h2:before, 
section.lead18 h2:before 
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(555px - 24px + 8px);
    width: 6px;
    height: 65px;
    transform: skew(-20deg);
    background: #9BDDFC;
    overflow: hidden;
    z-index: -1;
}

section h2 strong, 
section.lead1 h2 strong, 
section.lead2 h2 strong, 
section.lead5 h2 strong, 
section.lead6 h2 strong, 
section.lead9 h2 strong, 
section.lead10 h2 strong, 
section.lead11 h2 strong, 
section.lead12 h2 strong, 
section.lead13 h2 strong, 
section.lead17 h2 strong, 
section.lead18 h2 strong
{
    color: white;
    position: absolute;
    padding-top: 10px;

}

section.lead1 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead01.png");
}
section.lead2 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead02.jpeg"); 
}
section.lead3 {
    background-image: url("themes/img/lead/lead03.png"); 
}
section.lead4 {
    background-image: url("themes/img/lead/lead04.png"); 
}
section.lead5 {
    background-image: url("themes/img/lead/lead05.jpeg"); 
}
section.lead6 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead06.jpeg"); 
}
section.lead7 {
    background-image: url("themes/img/lead/lead07.jpeg"); 
}
section.lead8 {
    background-image: url("themes/img/lead/lead08.jpeg"); 
}
section.lead9 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead09.jpeg"); 
}
section.lead10 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead10.jpeg"); 
}
section.lead11 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead11.jpeg"); 
}
section.lead12 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead12.jpeg"); 
}
section.lead13 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead13.jpeg"); 
}
section.lead14 {
    background-image: url("themes/img/lead/lead14.jpeg"); 
}
section.lead15 {
    background-image: url("themes/img/lead/lead15.png"); 
}
section.lead16 {
    background-image: url("themes/img/lead/lead16.jpeg"); 
}
section.lead17 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead02.jpeg"); 
}
section.lead18 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead18.svg"); 
}
section.lead19 {
    background-image: url("themes/img/lead/lead19.png"); 
}
section.lead20 {
    background-image: url("themes/img/lead/lead20.jpeg"); 
}
section.lead > *:first-child 
{
    margin-top: 0; 
}

section
{
    padding: 0;
}

section code {
    font-family: 'JetBrains Mono', monospace;
}
section > p > code
{
    word-wrap: anywhere;
}
section pre, section > code, section > pre, section > p {
    margin: 30px;
    font-size: 26pt;
}

section ul, section ol {
    font-size: 40px;
    margin: 26pt;
}

section table {
    width: 94%;
    text-align: left;
    font-size: 40px;
    margin: 26pt;
}

section table thead {
    background: #002882;
    color: white;
}


section table tr th, section table tr td{
    padding: 10px;
}

section table tr td {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

/* Styling page number */
section::after 
{
    width: calc(121px - 65px);
    height: calc(39px - 12px);
    z-index: 5;
    padding: 0;
    position: absolute;
    font-weight: bold;
    color: white;
    background-image: url("themes/img/after.png");
    background-repeat: no-repeat;
    background-origin: initial;
    margin-bottom: 5px;
    background-size: 100%;
    padding-right: 65px;
    padding-top: 12px;
    font-size: 14px;
    text-align: right;
}

section.head h1
{
    letter-spacing: 1.1px;
    font-size: 36pt;
    position: relative;
    width: calc(1242px - 54px);
    height: calc(90px - 10px);
    background: #002882;
    color: #fff;
    margin: 0;
    z-index: 3;
    padding: 0;
    padding-left: 54px;
    padding-top: 10px;
    top: 0px;
}
section.head h1:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(1242px - 4px);
    border-top: 90px solid #002882;
    border-right: 32px solid transparent;    
    border-left: 2px solid #002882;
}
section.head h1:before
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(1242px + 14px);
    width: 6px;
    height: 90px;
    transform: skew(-20deg);
    background: #00AAFF;
    overflow: hidden;
    z-index: -1;
}

section.head h2
{
    position: relative;
    width: calc(1242px - 25px - 54px);
    margin-top: 10px;
    top: 0px;
}

section.head h2:before 
{
    left: calc(1242px - 25px  + 8px);
}
section.head h2:after 
{
    left: calc(1242px - 25px - 4px);
}