@charset "UTF-8";
/*!
 * Marp / Marpit VTB theme.
 *
 * @theme vtb
 * @auto-scaling true
 * @author Smirnov Viacheslav
 */

 @import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
 @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/github.min.css");
 
 
 #p > svg.bespoke-marp-slide.bespoke-marp-active > foreignObject > section > div > figure {
    font-family: 'Roboto';
}

footer {
    box-sizing: border-box;
    font-size: 66%;
    height: 60px;
    line-height: 50px;
    overflow: hidden;
    padding: 10px 25px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: Roboto;
  }

 section {
    background-color: white;
    font-family: 'Roboto';
    padding: 0;
    font-size: 26pt;
 }

 section h1 a, section h2 a {
    color: white;
 }

section.main
{
    padding: 0;
    background-position: 95% 10%, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, cover;
    background-origin: padding-box, border-box;
    background: #002882;
    color: white;
}

section.main h1
{
    vertical-align: middle;
    width: 75%;
    top: 35%;
    margin: 0;
    text-align: left;
    font-size: 170%;
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
}

section.main:before
{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 1000px;
    width: 1400px;
    height: 100%;
    transform: skew(-20deg);
    background: #C5C7C8;
}

section.lead1 footer a, 
section.lead2 footer a, 
section.lead5 footer a, 
section.lead6 footer a, 
section.lead9 footer a, 
section.lead10 footer a, 
section.lead11 footer a, 
section.lead12 footer a, 
section.lead13 footer a, 
section.lead17 footer a, 
section.lead18 footer a 
{
    background-color: rgba(0, 0, 0, 0.0);
    color: white !important;
    text-decoration-color: white !important;
}

section.lead1, 
section.lead2, 
section.lead5, 
section.lead6, 
section.lead9, 
section.lead10, 
section.lead11, 
section.lead12, 
section.lead13, 
section.lead17, 
section.lead18 
{
    padding: 0;
    background-position: 95% 10%, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, cover;
    background-origin: padding-box, border-box;
    color: white !important;
    text-decoration-color: white !important;
}



section h1
{
    font-size: 140%;
    letter-spacing: 1.1px;
    letter-spacing: 1.1px;
    position: relative;
    height: 80px;

    color: #002882;
    margin: 0;
    z-index: 3;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;

}

section.title h1,
section.lead1 h1,
section.lead2 h1,
section.lead5 h1,
section.lead6 h1,
section.lead9 h1,
section.lead10 h1,
section.lead11 h1,
section.lead12 h1,
section.lead13 h1,
section.lead17 h1,
section.lead18 h1
{
    font-size: 140%;
    letter-spacing: 1.1px;
    position: absolute;
    width: calc(585px - 30px);
    height: calc(190px - 10px);
    background: #002882;
    color: #fff;
    margin: 0;
    z-index: 3;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;
    top: 228px;
}


section.title h1:after,
section.lead1 h1:after,
section.lead2 h1:after,
section.lead5 h1:after,
section.lead6 h1:after,
section.lead9 h1:after,
section.lead10 h1:after,
section.lead11 h1:after,
section.lead12 h1:after,
section.lead13 h1:after,
section.lead17 h1:after,
section.lead18 h1:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(585px - 4px);
    border-top: 190px solid #002882;
    border-right: 69px solid transparent;    
    border-left: 2px solid #002882;
}



section.title h1:before,
section.lead1 h1:before,
section.lead2 h1:before,
section.lead5 h1:before,
section.lead6 h1:before,
section.lead9 h1:before,
section.lead10 h1:before,
section.lead11 h1:before,
section.lead12 h1:before,
section.lead13 h1:before,
section.lead17 h1:before,
section.lead18 h1:before
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(585px + 32px);
    width: 6px;
    height: 190px;
    transform: skew(-20deg);
    background: #00AAFF;
    overflow: hidden;
    z-index: -1;
}

section h2,
section.title h2, 
section.lead1 h2, 
section.lead2 h2, 
section.lead5 h2, 
section.lead6 h2, 
section.lead9 h2, 
section.lead10 h2, 
section.lead11 h2, 
section.lead12 h2, 
section.lead13 h2, 
section.lead17 h2, 
section.lead18 h2 
{
    font-size: 100%;
    position: absolute;
    width: calc(585px - 24px - 30px);
    height: 65px;
    background: #00AAFF;
    color: white;
    z-index: 3;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    top: 427px;
}

section.head h2:after,
section.title h2:after,
section.lead1 h2:after, 
section.lead2 h2:after, 
section.lead5 h2:after, 
section.lead6 h2:after, 
section.lead9 h2:after, 
section.lead10 h2:after, 
section.lead11 h2:after, 
section.lead12 h2:after, 
section.lead13 h2:after, 
section.lead17 h2:after, 
section.lead18 h2:after 
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(585px - 24px - 4px);
    border-top: 65px solid #00AAFF;
    border-right: 23px solid transparent;
    border-left: 2px solid #00AAFF;
}

section.head h2:before,
section.title h2:before,
section.lead1 h2:before, 
section.lead2 h2:before, 
section.lead5 h2:before, 
section.lead6 h2:before, 
section.lead9 h2:before, 
section.lead10 h2:before, 
section.lead11 h2:before, 
section.lead12 h2:before, 
section.lead13 h2:before, 
section.lead17 h2:before, 
section.lead18 h2:before 
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(585px - 24px + 8px);
    width: 6px;
    height: 65px;
    transform: skew(-20deg);
    background: #9BDDFC;
    overflow: hidden;
    z-index: -1;
}

section h2 strong, 
section.head h2 strong, 
section.title h2 strong, 
section.lead1 h2 strong, 
section.lead2 h2 strong, 
section.lead5 h2 strong, 
section.lead6 h2 strong, 
section.lead9 h2 strong, 
section.lead10 h2 strong, 
section.lead11 h2 strong, 
section.lead12 h2 strong, 
section.lead13 h2 strong, 
section.lead17 h2 strong, 
section.lead18 h2 strong
{
    color: white;
    position: absolute;
    padding-top: 10px;

}




section h3,
section.lead1 h3, 
section.lead2 h3, 
section.lead5 h3, 
section.lead6 h3, 
section.lead9 h3, 
section.lead10 h3, 
section.lead11 h3, 
section.lead12 h3, 
section.lead13 h3, 
section.lead17 h3, 
section.lead18 h3 
{
    font-size: 100%;
    position: absolute;
    width: calc(455px - 30px);
    height: calc(190px - 10px);
    background: #00AAFF;
    color: white;
    z-index: 3;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-top: 10px;
    top: calc(427px + 65px + 10px);
}

section h3:after,
section.lead1 h3:after, 
section.lead2 h3:after, 
section.lead5 h3:after, 
section.lead6 h3:after, 
section.lead9 h3:after, 
section.lead10 h3:after, 
section.lead11 h3:after, 
section.lead12 h3:after, 
section.lead13 h3:after, 
section.lead17 h3:after, 
section.lead18 h3:after 
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(455px - 4px);
    border-top: 190px solid #00AAFF;
    border-right: 69px solid transparent;
    border-left: 2px solid #00AAFF;
}

section h3:before,
section.lead1 h3:before, 
section.lead2 h3:before, 
section.lead5 h3:before, 
section.lead6 h3:before, 
section.lead9 h3:before, 
section.lead10 h3:before, 
section.lead11 h3:before, 
section.lead12 h3:before, 
section.lead13 h3:before, 
section.lead17 h3:before, 
section.lead18 h3:before 
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(455px + 32px);
    width: 6px;
    height: 190px;
    transform: skew(-20deg);
    background: #9BDDFC;
    overflow: hidden;
    z-index: -1;
}

section h3 strong, 
section.lead1 h3 strong, 
section.lead2 h3 strong, 
section.lead5 h3 strong, 
section.lead6 h3 strong, 
section.lead9 h3 strong, 
section.lead10 h3 strong, 
section.lead11 h3 strong, 
section.lead12 h3 strong, 
section.lead13 h3 strong, 
section.lead17 h3 strong, 
section.lead18 h3 strong
{
    color: white;
    position: absolute;
    padding-top: 10px;

}






section.lead1 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead01.png");
}
section.lead2 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead02.jpeg"); 
}
section.lead3 {
    background-image: url("themes/img/lead/lead03.png"); 
}
section.lead4 {
    background-image: url("themes/img/lead/lead04.png"); 
}
section.lead5 {
    background-image: url("themes/img/lead/lead05.jpeg"); 
}
section.lead6 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead06.jpeg"); 
}
section.lead7 {
    background-image: url("themes/img/lead/lead07.jpeg"); 
}
section.lead8 {
    background-image: url("themes/img/lead/lead08.jpeg"); 
}
section.lead9 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead09.jpeg"); 
}
section.lead10 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead10.jpeg"); 
}
section.lead11 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead11.jpeg"); 
}
section.lead12 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead12.jpeg"); 
}
section.lead13 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead13.jpeg"); 
}
section.lead14 {
    background-image: url("themes/img/lead/lead14.jpeg"); 
}
section.lead15 {
    background-image: url("themes/img/lead/lead15.png"); 
}
section.lead16 {
    background-image: url("themes/img/lead/lead16.jpeg"); 
}
section.lead17 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead02.jpeg"); 
}
section.lead18 {
    background-image: url("themes/img/lead/logo.ligth.svg"), url("themes/img/lead/lead18.svg"); 
}
section.lead19 {
    background-image: url("themes/img/lead/lead19.png"); 
}
section.lead20 {
    background-image: url("themes/img/lead/lead20.jpeg"); 
}
section.lead > *:first-child 
{
    margin-top: 0; 
}

section
{
    padding: 0;
}

section code {
    font-family: 'JetBrains Mono', monospace;
}
section > p > code
{
    word-wrap: anywhere;
}
section pre, section > code, section > pre, section > p {
    margin: 30px;
}

section ul, section ol {
    margin: 26pt;
}

section table {
    width: 94%;
    text-align: left;
    margin: 26pt;
}

section table thead {
    background: #002882;
    color: white;
}


section table tr th, section table tr td{
    padding: 10px;
}

section table tr td {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

section blockquote {

    background: none repeat scroll 0 0 #fafafa;
    border-bottom: 3px dashed #bababa;
    border-top: 3px dashed #bababa;
    color: #0A0A0A;
    font-style: italic;
    /*line-height: 1.45;
    padding: 10px 15px;*/
    position: relative;
    text-align: center;
}

section blockquote strike {
    color: #a0a0a0;
}

/* Styling page number */
section::after 
{
    width: calc(121px - 45px);
    height: 40px;/*calc(39px - 12px);*/
    z-index: 5;
    padding: 0;
    position: absolute;

    color: black;
    
    background-size: 100%;
    padding-right: 45px;
    padding-top: 7px;
    text-align: right;
    font-size: 66%;
}
section.title::after 
{
    width: calc(121px - 45px);
    height: 40px;/*calc(39px - 12px);*/
    z-index: 5;
    padding: 0;
    position: absolute;

    color: white;
    background-image: url("themes/img/after.png");
    background-repeat: no-repeat;
    background-origin: initial;
    
    background-size: 100%;
    padding-right: 45px;
    padding-top: 7px;
    text-align: right;
}

section.head h1
{
    letter-spacing: 1.1px;
    position: relative;
    width: calc(1242px - 30px);
    height: calc(90px - 10px);
    background: #002882;
    color: #fff;
    margin: 0;
    z-index: 3;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;
    top: 0px;
}
section.head h1:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    left: calc(1242px - 4px);
    border-top: 90px solid #002882;
    border-right: 32px solid transparent;    
    border-left: 2px solid #002882;
}
section.head h1:before
{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: calc(1242px + 14px);
    width: 6px;
    height: 90px;
    transform: skew(-20deg);
    background: #00AAFF;
    overflow: hidden;
    z-index: -1;
}

section.head h2
{
    position: relative;
    width: calc(1242px - 25px - 30px);
    margin-top: 10px;
    top: 0px;
}

section.head h2:before 
{
    left: calc(1242px - 25px  + 8px);
}
section.head h2:after 
{
    left: calc(1242px - 25px - 4px);
}